// Style for button and pseudo button for input and link

.btn {
	color: $color_white;
	font-family: $main_font_family;
	font-size: 0.75em;
	font-weight: 700;
	padding: 1.902em 4.499em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $color_warning;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	letter-spacing: 0.03em;
	border-radius: 3.625em;

	transition: 0.3s;

	span {
		display: inline-block;
		font-size: 1em;
		text-transform: uppercase;

		@media (min-width: 768px) {
			width: 11em;
			font-size: 1.25em;
			text-transform: inherit;

		}
	}

	@media (min-width: 768px) {
		font-size: 1em;
		padding: 1.745em 3.4775em;
		position: relative;
		overflow-x: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -150%;
			height: 100%;
			width: 3em;
			transform: skewX(-45deg);
			background: linear-gradient(90deg, rgba($color_white, 0.2), rgba($color_white, 1));
			animation: flare 5s infinite linear;
		}

		&:hover {
			background-color: darken($color_warning, 5%);
		}

		&:active {
			background-color: darken($color_warning, 7%);
		}
	}

	&:disabled {
		background-color: darken($color_warning, 10%);
		cursor: not-allowed;

		&:before {
			content: none;
		}
	}

	&_lg {
		padding: 1.718em 4em;
		font-weight: 500;

		@media (min-width: 768px) {
			padding: 1.625em 4.469em;
		}
	}

	&_reverse {
		background-color: $color_white;
		color: $color_warning;

		@media (min-width: 768px) {
			&:hover {
				background-color: darken($color_white, 1%);
			}

			&:active {
				background-color: darken($color_white, 2%);
			}
		}

	}

	&_upper {
		text-transform: uppercase;
		font-size: 0.875em;
		letter-spacing: 0.07em;
		padding: 1.723em 3.683em;
	}

}
