/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 1em 0;
	background-color: $main_color;

	&__content {
		position: relative;
		@extend .container_center;
		margin: auto;

		color: $color_white;
	}

	&__top {
		display: flex;
	}

	&__bottom {}

	&__logo {
		width: 19.3125em;
		height: 4.125em;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		width: 10.6875em;
		margin-left: 1.9375em;

		span {
			font-size: 0.75em;
		}
	}

	&__location {}

	&__phone {
		margin-left: auto;
	}

	&__action {
		@media (min-width: 768px) {
			position: absolute;
			top: 0;
			right: 20em;

		}
	}

	&__toggle {
		position: absolute;

		@media (max-width: 767px) {
			top: 1em;
			right: 1em;
			width: 1.25em;
			height: 0.875em;
			color: $main_color;
			border: 0.125em solid;
			border-left: 0;
			border-right: 0;
			z-index: 51;
			cursor: pointer;

			&:after,
			&:before {
				content: '';
				display: inline-block;
				border-top: 0.125em solid;

				position: absolute;
				top: 50%;
				// выровнить псевдо эл. по центру: половина от толщины border
				margin-top: -0.0625em;
				left: 0;
				width: 100%;
				transition: transform 0.3s;

			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&_open {
				border: 0;
				position: fixed;

				&:after,
				&:before {
					content: '';
					border-top: 0.125em solid $main_color;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}

	}

}

@media (max-width: 767px) {
	.header__bottom {
		position: fixed;
		right: -18.75em;
		top: 0;
		bottom: 0;
		background-color: $color_white;
		width: 18.75em;
		z-index: 10;
		overflow: hidden;
		padding: 5em 1em 2em;
		transition: right 0.3s;
		box-shadow: 0 0 1em rgba(#000, .1);

		// height: 100%;
		// overflow-y: auto;

		&_open {
			right: 0;
		}
	}
}

.current > a {
	color: $color_success;
}

.nav-open {
	overflow: hidden;
}

.location {
	display: flex;
	align-items: center;

	&__icon {
		i {
			font-size: 1.5em;
			color: $color_warning;
		}
	}

	&__content {
		margin-left: 1em;

		span {
			font-size: 0.875em;
		}
	}

	&__label {
		font-weight: 700;
		margin-bottom: 0.352em;
	}

	&__text {}
}

.phone {
	text-align: center;

	&__label {
		position: relative;
		margin-left: 0.75em;
		letter-spacing: 0.03em;
		margin-bottom: 0.3125em;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -0.75em;
			display: block;
			width: 0.25em;
			height: 0.25em;
			background-color: #39CB59;
		}

		span {
			font-size: 0.875em;
		}
	}

	&__list {}

	&__item {
		letter-spacing: 0.02em;
		margin-bottom: 0.3125em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		color: $color_white;
		text-decoration: none;
		font-size: 1.25em;
		font-weight: 700;
	}
}

.messenger {
	&__label {}

	&__list {}

	&__item {}

	&__link {}

}

.button {}