/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 0.625em 0;
	position: absolute;
	width: 100%;

	@media (min-width: 768px) {
		padding: 2.625em 0;
	}

	&__content {
		@extend .container_center;
		margin: auto;
		color: $color_white;
	}

	&__top {
		display: flex;
		align-items: flex-end;

		@media (min-width: 768px) {
			align-items: center;
			justify-content: space-between;
			margin-bottom: 4.6875em;
		}
	}

	&__logo {
		flex: none;
		width: 7em;
		height: 1.5em;

		@media (min-width: 768px) {
			width: 19.3125em;
			height: 4.125em;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media (min-width: 768px) {
		&__info {
			width: 10.6875em;

			span {
				font-size: 0.75em;
			}
		}

	}

	&__toggle {
		position: absolute;

		@media (max-width: 767px) {
			top: 1.9em;
			right: 1em;
			width: 1.25em;
			height: 0.875em;
			color: $color_white;
			border: 0.125em solid;
			border-left: 0;
			border-right: 0;
			z-index: 51;
			cursor: pointer;

			&:after,
			&:before {
				content: '';
				display: inline-block;
				border-top: 0.125em solid $color_white;

				position: absolute;
				top: 50%;
				// выровнить псевдо эл. по центру: половина от толщины border
				margin-top: -0.0625em;
				left: 0;
				width: 100%;
				transition: 0.3s;

			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&_open {
				border: 0;
				position: fixed;

				&:after,
				&:before {
					content: '';
					border-top: 0.125em solid $main_color;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}

	}

	&__openHead {

		@media (max-width: 767px) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 2em;

			.header__phone_open {
				width: 100%;
				margin-top: 2.625em;
			}

			.header__logo {
				margin-right: 1em;
			}

		}

	}

}

@media (max-width: 767px) {
	.header__bottom {
		text-align: center;

		position: fixed;
		right: -20em;
		top: 0;
		bottom: 0;
		background-color: $color_white;
		width: 20em;
		z-index: 10;
		overflow: hidden;
		padding: 1.5625em 1.375em;
		transition: right 0.3s;

		height: 100%;
		overflow-y: auto;

		&_open {
			right: 0;
		}

		.header__messenger {
			margin-top: 2em;
		}
	}

}

.navbar {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		@media (min-width: 768px) {
			display: flex;
			justify-content: space-between;

		}
	}

	&__item {
		letter-spacing: 0.1em;
		@media (max-width: 767px) {
			margin-bottom: 22px;

			&:last-child {
				margin-bottom: 0;
			}
		}

	}

	&__link {
		text-transform: uppercase;
		color: $color_black;
		text-decoration: none;
		font-weight: 500;
		font-size: 0.625em;

		@media (min-width: 768px) {
			color: $color_white;
			font-size: $main_font_size;
		}

		&:hover {
			color: $color_warning;
		}

		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: -0.25em;
			left: 50%;
			width: 0;
			opacity: 0;
			border-bottom: 0.0625em solid;
			border-color: $color_warning;
			transition: 0.3s;
		}

		&:hover {
			&:after {
				left: 0;
				width: 100%;
				opacity: 1;
			}
		}

	}

}

.current > a {
	color: $color_warning;

	&:after {
		left: 0;
		width: 100%;
		opacity: 1;
	}
}

.nav-open {
	overflow: hidden;
}

.location {
	display: flex;
	@media (min-width: 768px) {
		align-items: center;
	}

	&__icon {
		i {
			color: $color_warning;
			font-size: 0.9em;
			@media (min-width: 768px) {
				font-size: 1.5em;
			}
		}
	}

	&__content {
		margin-left: 0.375em;
		/* 6/16 */

		line-height: 0.833985;
		margin-top: -0.25em;

		color: $main_color;
		text-align: left;

		@media (min-width: 768px) {
			color: $color_white;
			margin-left: 1em;
			line-height: $main_line_height;
			margin-top: 0;
		}

		span {
			font-size: 0.5em;
			@media (min-width: 768px) {
				font-size: 0.875em;

			}
		}
	}

	&__label {
		@media (min-width: 768px) {
			font-weight: 700;
			margin-bottom: 0.352em;
		}
	}

}

.phone {
	text-align: center;

	&__label {
		margin-bottom: 0.3125em;

		@media (min-width: 768px) {
			letter-spacing: 0.03em;
			margin-left: 0.75em;
		}

		span {
			font-size: 0.5em;
			@media (min-width: 768px) {
				font-size: 0.875em;
			}
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				width: 0.29em;
				height: 0.29em;
				background-color: #39CB59;
				left: -1em;

				@media (min-width: 768px) {
					left: -0.75em;
				}
			}
		}
	}

	&__list {}

	&__item {
		letter-spacing: 0.02em;
		margin-bottom: 0.3125em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		color: $color_white;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;

		@media (min-width: 768px) {
			font-size: 1.25em;

		}
	}
}

@media (max-width: 767px) {
	.phone_sm {
		margin-left: 0.75em;

		.phone__label {
			line-height: 0.6;
			margin-bottom: 0;
		}

		.phone__list {
			line-height: 1;
		}

		.phone__item {
			letter-spacing: normal;
			margin-bottom: 0;
		}

		.phone__link {
			font-size: 0.75em;
		}
	}

	.header__phone_open {
		.phone__label,
		.phone__link {
			color: $main_color;
		}

	}

}
