.services {
    position: relative;
    padding-top: 5em;
    @media (min-width: 768px) {
        padding-top: 5.625em;
    }

    &__item {
        position: relative;
        overflow: hidden;
        background: center no-repeat;
        background-size: cover;
        height: 17.25em;

        @media (min-width: 768px) {
            height: 31.25em;
        }

        border-radius: 1.125em;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
        }

    }

    &__content {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
        color: $color_white;
        text-align: center;

        padding: 1.5em 1em 2.25em;

        @media (min-width: 768px) {
            padding: 2.5em 3em;
            text-align: inherit;

        }

    }

    &__top {
        width: fit-content;
        background: rgba(0, 0, 0, 0.5);
        // background: rgba(0, 0, 0, 0.38);

        border-radius: 0.625em;
        // -webkit-backdrop-filter: blur(0.5em);
        // backdrop-filter: blur(0.5em);
        padding: 0.707em 1.04em;
        margin: 0 auto;

        @media (min-width: 768px) {
            margin: 0;
            padding: 1.125em 2.4375em;

        }
    }

    &__title {
        letter-spacing: 0.02em;
        line-height: 0.9;

        @media (min-width: 768px) {
            line-height: 1.4;

        }

        span {
            font-size: 0.75em;
            font-weight: 500;
            text-transform: uppercase;

            @media (min-width: 768px) {
                font-size: 1.25em;
            }
        }

    }

    &__bottom {}

    &__desc {
        letter-spacing: 0.03em;
        line-height: 1.125;

        @media (max-width: 767px) {
            min-height: 3.5em;
            margin-bottom: 0.375em;
        }

        @media (min-width: 768px) {
            line-height: 1.286;
            margin-bottom: 1.5625em;
            width: 21em;
        }

        span {
            font-weight: 500;
            font-size: 0.75em;

            @media (min-width: 768px) {
                font-size: 1.3125em;

            }
        }
    }

    &__action {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }

    &__link {
        position: relative;
        display: inline-block;
        color: $color_warning;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-size: 0.75em;
        margin-top: 1.25em;

        @media (min-width: 768px) {
            font-size: $main_font_size;
            margin-top: 0;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -0.5em;
            left: 50%;
            transform: translate(-50% , 0);
            width: 7em;
            border-top: 1px dashed #EE6100;

        }
    }

}

@media (min-width: 768px) {
    .services__arrow {
        i {
            top: 29em;
        }

        .icon-arrow_left {
            left: 5em;
        }

        .icon-arrow_right {
            right: 5em;
        }

    }

}
