@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 35%;
        right: 0;

        &__toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.0625em;
            height: 2.0625em;
            background-color: $color_warning;
            border-radius: 50%;
            margin-bottom: 1.5em;
            margin-right: 1.875em;
            cursor: pointer;

            i {
                display: inline-block;
                font-size: 0.625em;
                color: $color_white;
                transform: rotate(0deg);
                transition: transform 0.3s;
            }

            &_hide {
                i {
                    transform: rotate(-135deg);
                }
            }

        }

        &__list {
            position: absolute;
            top: 3.125em;
            right: 0;
            display: flex;
            flex-direction: column;
            transition: right 0.3s;

            &_hide {
                right: -7em;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6.25em;
            height: 6.25em;
            border-radius: 0.9375em 0 0 0.9375em;
            text-decoration: none;
            color: $color_white;
            background: $color_warning;
            margin-bottom: 0.375em;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
                background: #746FBB;

                i {
                    font-size: 1.659em;
                }

            }

            position: relative;
            margin-left: 0;

            &:hover {
                margin-left: -0.5em;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -0.5em;
                width: 0.5em;
                background-color: inherit;
            }

        }

        &__icon {
            i {
                font-size: 2.25em;
            }
            margin-bottom: 0.3125em;

            // &_circle {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     width: 2.625em;
            //     height: 2.625em;
            //     border-radius: 50%;
            //
            //     margin-bottom: 0.125em;
            //     margin-left: auto;
            //     margin-right: auto;
            //     background-color: $color_white;
            //
            //     i {
            //         color: $color_warning;
            //         font-size: 1.25em;
            //     }
            // }

        }

        &__text {
            line-height: 1;
            width: 3.375em;

            span {
                font-size: 0.75em;
            }
        }

    }
}
