// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	font-size: calc(.034 * 100vw + 0px);

	@media (min-width: 768px) {
		font-size: calc(.00826874 * 100vw + 0px);
	}

	@media (min-width: 1200px) {}

	// @media (min-width: 1600px) {
	// 	font-size: $main_font_size;
	// }

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;

}

.container_center {
	max-width: $container_width;
	padding: 0 1em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 6.875em 0;
	// margin: 6.875em 0;
	/* 110/16 */

	&__title {
		text-align: center;
		margin: 0;
		font-size: 1em;
		margin-bottom: 3.75em;
		line-height: 1.4;

		span {
			display: inline-block;
			width: 24em;
			font-size: 3.75em;
			font-weight: 200;
		}

		b {
			font-weight: 700;
		}
	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

// * {
// 	border: 1px solid #000;
// }
