
<!-- begin sidebar-->
<div class="sidebar desktop" id="sidebar">
  <div class="sidebar__toggle"><i class="icon-close"></i></div>
  <div class="sidebar__list"><a class="sidebar__item requisition_js" href="#">
      <div class="sidebar__content">
        <div class="sidebar__icon"><i class="icon-head"></i></div>
        <div class="sidebar__text"><span>Оставить заявку</span></div>
      </div></a><a class="sidebar__item" href="#">
      <div class="sidebar__content">
        <div class="sidebar__icon"><i class="icon-price_2"></i></div>
        <div class="sidebar__text"><span>Скачать прайс</span></div>
      </div></a><a class="sidebar__item" href="#">
      <div class="sidebar__content">
        <div class="sidebar__icon"><i class="icon-viber"></i></div>
        <div class="sidebar__text"><span>Написать в Viber</span></div>
      </div></a></div>
</div>
<!-- end sidebar-->