footer.footer
    .footer__content
        .footer__row
            .footer__col
                span Все права защищены <br>  <a href="#" class="privacy_js">Политика конфиденциальности</a>
            .footer__col
                span Вся информация, размещённая на сайте, носит ознакомительный характер и может отличаться от действительности.
            .footer__col
                span Сделано с любовью в   <a href="https://paradigma.website/" target="_blank">Paradigma.website</a>
