header.header
    .header__content
        // begin header__top
        .header__top
            .header__logo
                a.logo(href="/")
                    img(src="../img/logo.png")

            .header__info.desktop
                span ООО “Артадитакс” <b>Строительные работы</b> любой сложности под ключ
            .header__location.desktop
                .location
                    .location__icon
                        i.icon-map
                    .location__content
                        .location__label
                            span Адрес офиса:
                        .location__text
                            span г. Брест, ул.Карьерная, 10 А

            .header__button.desktop
                a(href="#").btn.btn_upper.requisition_js Оставить заявку

            .header__messenger.desktop
                .messenger
                    .messenger__label
                        span Задайте вопрос, <b>мы онлайн</b>
                    .messenger__list
                        .messenger__item
                            a(href="viber://chat?number=%2B375298075009" target="_blank").messenger__link
                                i.icon-viber
                        .messenger__item
                            a(href="https://wa.me/+375298075009" target="_blank").messenger__link
                                i.icon-whatsapp
                        .messenger__item
                            a(href="https://telegram.im/plahotin_s" target="_blank").messenger__link
                                i.icon-telegram

            .header__phone
                .phone.phone_sm
                    .phone__label
                        span Звоните Пн-Пт: 9:00 - 18:00
                    .phone__list
                        .phone__item
                            a(href="tel:+375298075009").phone__link +375 (29) 807-50-09
                        .phone__item
                            a(href="tel:+375298071188").phone__link +375 (29) 807-11-88
        // end header__top

        // begin header__bottom
        .header__bottom
            .header__openHead.mobile

                .header__logo
                    a.logo(href="/")
                        img(src="../img/logo_open.png")

                .header__location
                    .location
                        .location__icon
                            i.icon-map
                        .location__content
                            .location__label
                                span Адрес офиса:
                            .location__text
                                span г. Брест, ул.Карьерная, 10 А

                .header__phone.header__phone_open
                    .phone
                        .phone__label
                            span Звоните Пн-Пт: 9:00 - 18:00
                        .phone__list
                            .phone__item
                                a(href="tel:+375298075009").phone__link +375 (29) 807-50-09
                            .phone__item
                                a(href="tel:+375298071188").phone__link +375 (29) 807-11-88

            nav.navbar#navbar
                ul.navbar__list
                    li.navbar__item.current
                        a.navbar__link(href="index.html") Главная
                    li.navbar__item
                        a.navbar__link(href="#services") Услуги и цены
                    li.navbar__item
                        a.navbar__link(href="#house") портфолио
                    li.navbar__item
                        a.navbar__link(href="#advantage") преимущества / гарнатии
                    li.navbar__item
                        a.navbar__link(href="#about") о компании
                    li.navbar__item
                        a.navbar__link(href="#steps") как заказать
                    li.navbar__item
                        a.navbar__link(href="#contacts") контакты

            .header__messenger.mobile
                .messenger
                    .messenger__label
                        span Спрашивайте онлайн
                    .messenger__list
                        .messenger__item
                            a(href="viber://chat?number=%2B375298075009" target="_blank").messenger__link
                                i.icon-viber
                        .messenger__item
                            a(href="https://wa.me/+375298075009" target="_blank").messenger__link
                                i.icon-whatsapp
                        .messenger__item
                            a(href="https://telegram.im/plahotin_s" target="_blank").messenger__link
                                i.icon-telegram





        // end header__bottom



        .header__toggle
        //- .header__mobilbg
