//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requisition") Click to open modal
// Begin Modal requisition
.modal.fade.requisition#requisition
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
                i.icon-close

            .modal-header
                .modal-title 
                    span Оставьте заявку на <b>расчет стоимости</b>
                .modal-subtitle
                    span Только телефон и мы в деле. Перезвоним через пару минут
                .modal-select
                    span Выберите из списка нужную услугу:
            .modal-body
                form.form(action="send.php")
                    //- из какой формы на сайте
                    input(type="hidden" name="subject" value="Заявка на расчет стоимости")
                    //- проверка спама
                    input(type="hidden" name="notspam" value="")

                    .form__row
                        select.select(data-placeholder="Строительство дома" name="selectService")
                            option(value="")
                            option(value="Home-construction") Строительство дома
                            option(value="Home-construction-2") Строительство дома 2
                            option(value="Home-construction-3") Строительство дома 3

                    .form__row
                        input(type="tel" id="modal-tel" name="tel" required placeholder="Ваш номер телефона")

                    .form__row
                        button.btn.btn_didisabled_js(type="submit")
                            span Оставить заявку
                    .form__row
                        .form__privacy
                            label.form__check
                                input.check_checked_js(type="checkbox" checked="checked")
                                span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>
// End modal requisition

//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#privacy") Click to open modal
// Begin Modal privacy
.modal.fade.privacy#privacy
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
                i.icon-close
            .modal-body
                .privacy__content
                    h2 ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.





// End modal privacy
