// begin sidebar
#sidebar.sidebar.desktop
    .sidebar__toggle
        i.icon-close
    .sidebar__list
        a(href="#").sidebar__item.requisition_js
            .sidebar__content
                .sidebar__icon
                    i.icon-head
                .sidebar__text
                    span Оставить заявку

        a(href="#").sidebar__item
            .sidebar__content
                .sidebar__icon
                    i.icon-price_2
                .sidebar__text
                    span Скачать прайс

        a(href="#").sidebar__item
            .sidebar__content
                .sidebar__icon
                    i.icon-viber
                .sidebar__text
                    span Написать в Viber

// end sidebar
