$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-close: "\e912";
$icon-vk: "\e900";
$icon-instagram: "\e901";
$icon-facebook: "\e902";
$icon-mail: "\e903";
$icon-price_2: "\e904";
$icon-arrow_left: "\e905";
$icon-arrow_right: "\e906";
$icon-advise: "\e907";
$icon-head: "\e908";
$icon-loading: "\e909";
$icon-telegram: "\e90a";
$icon-time: "\e90b";
$icon-map: "\e90c";
$icon-whatsapp: "\e90d";
$icon-price: "\e90e";
$icon-viber: "\e90f";
$icon-phone: "\e910";
$icon-tool: "\e911";

